language: java

before_install:
  # When building the coverity_scan branch, allow only the first job to continue.
  - if [[ "${TRAVIS_BRANCH}" == "coverity_scan" && "$MATRIX_ID" != "first" ]]; then exit 0; fi

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - if [ "$MATRIX_ID" == "first" ]; then
      ./mvnw clean test jacoco:report coveralls:report;
      ./mvnw clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar;
    fi

env:
  global:
   # COVERITY_SCAN_TOKEN
   - secure: "JuTWT2u7BWQEJGMGkVvQMIQxwxajntxqbCGYt+bJD3JQhioPVFUJoEFrLCx+jJ0qLy5usrneCDFrvRhvTh6C+95kvHypvGQ3UoeWyXS8zD+GRPUyskbuQ7P60kqqIqc+naGd3uyGddniixoAA6C/Ptmknhls4FlhDCMjW3HDS0c="

addons:
  coverity_scan:
    project:
      name: "dblock/oshi"
      description: "Build submitted via Travis CI"
    notification_email: widdis@gmail.com
    build_command_prepend: "cov-configure --comptype gcc --compiler gcc-4.8 --template"
    build_command:   "./mvnw -DskipTests=true clean compile"
    branch_pattern: coverity_scan
  sonarcloud:
    organization: "default" # the key of the open source org
  hosts:
    - oshi
  hostname: oshi

matrix:
  include:
    - os: osx
      env:
      - JDK = "OracleJDK 8 - Mac"
      - MATRIX_ID="first"
      osx_image: xcode9.3
    - os: osx
      env: JDK = "OpenJDK 11 - Mac"
      jdk: openjdk11
      osx_image: xcode10.1
    - os: osx
      env: JDK = "OpenJDK 12 - Mac"
      jdk: openjdk12
      osx_image: xcode11
    - os: linux
      env: JDK = "OpenJDK 11 - Linux"
      jdk: openjdk11
    - os: linux
      env: JDK = "OpenJDK 13 - Linux"
      jdk: openjdk13
    - os: linux
      env: JDK = "OpenJDK 14 - Linux"
      jdk: openjdk14
  allow_failures:
    - os: linux
      env: JDK = "OpenJDK 14 - Linux"
      jdk: openjdk14

script:
  # Skip tests on coverity_scan branch
  - if [[ "${TRAVIS_BRANCH}" == "coverity_scan" ]]; then exit 0; fi
  - java -version
  - mvn test
