language: java

script: mvn test

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - if [ "$AFTER_SUCCESS" == "jacoco" ]; then
      ./mvnw clean test jacoco:report coveralls:report;
      ./mvnw clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar -Dsonar.host.url=https://sonarqube.com -Dsonar.login=df16219a00545aae71f880423a6f23191330744f;
    fi

env:
  global:
   # COVERITY_SCAN_TOKEN
   - secure: "JuTWT2u7BWQEJGMGkVvQMIQxwxajntxqbCGYt+bJD3JQhioPVFUJoEFrLCx+jJ0qLy5usrneCDFrvRhvTh6C+95kvHypvGQ3UoeWyXS8zD+GRPUyskbuQ7P60kqqIqc+naGd3uyGddniixoAA6C/Ptmknhls4FlhDCMjW3HDS0c="

addons:
  coverity_scan:
    project:
      name: "dblock/oshi"
      description: "Build submitted via Travis CI"
    notification_email: widdis@gmail.com
    build_command_prepend: "./mvnw clean"
    build_command:   "./mvnw -DskipTests=true compile"
    branch_pattern: coverity_scan
  hosts:
    - oshi
  hostname: oshi
matrix:
  include:  
    - os: linux
      jdk: oraclejdk10
      env: AFTER_SUCCESS="jacoco"
    - os: linux
      jdk: openjdk10
    - os: linux
      jdk: oraclejdk9
    - os: linux
      jdk: oraclejdk8
    - os: linux
      jdk: openjdk8
    - os: linux
      jdk: openjdk7
    - os: osx
      osx_image: xcode6.4
    - os: osx
      osx_image: xcode8
    - os: osx
      osx_image: xcode8.3
    - os: osx
      osx_image: xcode9.4.1
