version: '{build}'

image: Visual Studio 2022

skip_tags: true

branches:
  only:
    - master
    - debug

only_commits:
  files:
    - '**/windows/**'
    - '**/common/**'
    - '**/util/**'

environment:
  TERM: dumb
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk17

init:
  - git config --global --unset core.autocrlf
  - set PATH=%JAVA_HOME%\bin;%PATH%

install:
  - echo JAVA_HOME=%JAVA_HOME%
  - where java
  - java -version
  - ./mvnw --version

build_script:
  - appveyor-retry ./mvnw -B -DskipTests=true clean package

test_script:
  - ./mvnw -B test
