# Limited CI matrix on all pull requests to any branch
name: Pull Request CI

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.yml'
      - '**.yaml'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        java: [11, 17]
      fail-fast: false
    name: Test JDK ${{ matrix.java }}, ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Checkstyle
        if: contains(matrix.os, 'ubuntu') && contains(matrix.java, '11')
        run: ./mvnw checkstyle:check
      - name: License check
        if: contains(matrix.os, 'ubuntu') && contains(matrix.java, '17')
        run: git fetch --unshallow && ./mvnw license:check -D"license.git.copyrightLastYearMaxCommitsLookup=100000"
      - name: Test with Maven
        run: ./mvnw test -B -D"license.skip=true"
