# Limited CI matrix on all pull requests to any branch
name: Pull Request CI

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.yml'
      - '**.yaml'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        java: [11, 17, 20, 21-ea]
      fail-fast: false
    name: Test JDK ${{ matrix.java }}, ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Checkstyle
        if: contains(matrix.os, 'ubuntu') && contains(matrix.java, '11')
        run: ./mvnw checkstyle:check
      - name: Test with Maven
        if: contains(matrix.os, 'ubuntu') || contains(matrix.os, 'macos') || contains(matrix.java, '11') || contains(matrix.java, '17')
        run: ./mvnw test -B
