# Full CI matrix on all pushes to master branch
name: Windows CI

on: 
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '**.yml'
      - '**.yaml'
    
jobs:
  # Runs current branch on Windows, Linux, macOS with multiple JDKs
  testmatrix:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Baseline support, Current LTS, Current GA, Current EA
        java: [8, 11, 17]
        # note that windows-2016 will be removed on 15-march-2022
        # see https://github.com/actions/virtual-environments/issues/4312
        # Jacoco 0.8.7 is incompatible JDK 18-ea, temporarily disabling.
        # Re-enable for version 0.8.8. See https://github.com/jacoco/jacoco/pull/1198
        os: [windows-2019, windows-2022]
      fail-fast: false
    name: JDK ${{ matrix.java }}, ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Test with Maven
        run: ./mvnw test -B -D"license.skip=true"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
